fastq/
temp/
BAM/
fastqc/
hic/
pairs/
stats/
genome/
cool/
logs/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.pairs
*.pairs.gz
*.px2
*.cool
*.mcool
*.hic
*.log
__pycache__/
*.pyc
.DS_Store
results/
